<header class="header">
    <section class="sec1">
        <img src="/logo.svg" class="logo">
        <input type="search" placeholder="search..." class="search">
        <img src="/search.png" class="search-logo">
    </section>
    <img src="/burger-menu.svg" class="hamburger-menu-logo">
    <section class="sec2">
        <button class="btn">
            <p>Sign In</p>
            <img src="/signIn.png" class="signIn">
        </button>
        <button class="btn">
            <p>Register</p>
            <img src="guest.svg" class="guest">
        </button>
    </section>
    
</header>