<header class="header" *ngIf="!loading">
  <section class="sec1">
      <img src="/logo.svg" class="logo" alt="Logo" (click)="navigateTo('')">

      <div class="search-bar">
          <input type="search" placeholder="Search products..." [(ngModel)]="keywords" (keydown.enter)="searchFunc(keywords)">
          <button (click)="searchFunc(keywords)">
              <img src="/search.png" alt="Search">
          </button>
      </div>
  </section>

  <img src="/burger-menu.svg" class="hamburger-menu-logo" alt="Menu" (click)="toggleMenu()">

  <section class="sec2" [class.show]="isMenuOpen">
      <ng-container *ngIf="!token">
          <button class="btn" (click)="navigateTo('SignIn')">
              <img src="/signIn.png" alt="Sign In">
              <span>Sign In</span>
          </button>
          <button class="btn" (click)="navigateTo('Register')">
              <img src="guest.svg" alt="Register">
              <span>Register</span>
          </button>
      </ng-container>
      <button class="cart-btn" (click)="navigateTo('/verify-email')">
        <img  alt="✅">
        <span>Verify Email</span>
    </button>
   
      <ng-container *ngIf="token">
          <button class="cart-btn" (click)="navigateTo('/CartPage')">
              <img src="CartImg.svg" alt="Cart">
              <span>Cart</span>
          </button>
       
       
      </ng-container>
      
  </section>
</header>
