<header class="header">
    <section class="sec1">
      <img src="/logo.svg" class="logo">
      <input type="search" placeholder="search..." class="search">
      <img src="/search.png" class="search-logo">
    </section>
    <img src="/burger-menu.svg" class="hamburger-menu-logo">
    <section class="sec2">
      <a class="btn" routerLink="/login">
        <button>Sign In</button>
        <img src="/signIn.png" class="signIn">
      </a>
      <a class="btn" routerLink="/register">
        <button>Register</button>
        <img src="guest.svg" class="guest">
      </a>
    </section>
  </header>
  