<div *ngIf="this.productService.products">
  <div class="product-list">
    <div *ngFor="let product of this.productService.products; let i = index" 
         class="product-card" (click)="viewProduct(product._id)">
  
      <img [src]="product.thumbnail" alt="{{ product.title }}" class="product-image" />

      <h3>{{ product.title }}</h3>
     
      <p class="price">Price: {{ product.price.current }} {{ product.price.currency }}</p>
      <p class="rating">⭐ Rating: {{ product.rating }}</p>

      <button class="add-to-cart-btn" (click)="addToCartFunc(product._id,1)">
        <img src="\Vector.png" alt="🛒" class="cart-icon" style="color: white; width: 26px;
  padding-right: 16px;"> Add to Cart
      </button>
    </div>
    
  </div>
  

  <footer class="product-footer">
    <div class="footer-content">
      <p>&copy; 2025 Your Company. All Rights Reserved.</p>
      <div class="footer-links">
        <a href="/about-us">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/terms">Terms of Service</a>
      </div>
    </div>
  </footer>
</div>

